h1 {
	color: white;
	font-size: 50px;
	/*font-family: 'Times New Roman', serif;*/
	text-align: center;
}

p {
	color: #9370DB;
	text-align: center;
}

#Blue {
	color: blue;
}

#Purple {
	color: purple;
}
#Teal {
	color: teal;
}

img {
	border: 3px;
	border-style: dashed;
	border-color: black;
	width: 45%;
	margin-left: 15%;

}

body {
	background-color: lavender;
}
